<!DOCTYPE html>

<head>
    <title>Marc Meinhardt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Tab Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/icons tab/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/icons tab//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/icons tab//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/icons tab//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/icons tab//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/icons tab//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/icons tab//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/icons tab//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/icons tab//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/icons tab//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/icons tab//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/icons tab//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/icons tab//favicon-16x16.png">
    <link rel="manifest" href="../static/icons tab//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/icons tab//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<html>

<body>

    <h3>Menu</h3>
    <ul>

</body>

</html>